flask==2.3.3
werkzeug==2.3.7
# opentelemetry-api
# opentelemetry-sdk
# opentelemetry-exporter-otlp
requests==2.26.0
# werkzeug==2.2.3
# opentelemetry-instrumentation-flask
# opentelemetry-instrumentation-requests